.characters-background
  background-image: url('http://i.imgur.com/FnT1Jwl.jpg')
  background-size: cover
  width: 100%
  height: 100vh
  position: fixed
  background-position: right 0 top 0
  background-color: black

.characters-search
  margin-top: 30px
  font-size: 25px
  color: antiquewhite
